/******************** 
    CUSTOM STYLES 
*********************/

/****** General ******/

/* Decreasing container width so it doesn't spread the content too sparsely on larger screens */
.container{
    max-width: 1200px;
}

/* Changing the font/weight/colour of paragraph text that isn't already styled with Bootstrap classes */
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #052D82;
}

/* Headings will have a different font compared to paragraphs */
h1, h2, h3, h4, h5, h6{
    font-family: 'Nobile', sans-serif;
    font-weight: bold;
}

/* Overwriting primary background colour with a custom class (button is easily overwritten) */
.custom-bg-primary,
.btn-primary{
    background-color: #2F6AEB;
}

/* Overwriting secondary background colour with a custom class (button is easily overwritten) */
.custom-bg-secondary,
.btn-secondary{
    background-color: #DB9909;
}

/* Increasing the weight of button text so it stands out more */
.btn-primary,
.btn-secondary{
    font-weight: 600;
}

/* Applying custom secondary colour to targeted text and links */
.custom-text-secondary,
.link-secondary{
    color: #DB9909;
}

/* Replacing grey hover state of secondary links */
.link-secondary:hover,
.link-secondary:focus{
    color: #c78904;
}

/* Replacing grey hover state of secondary buttons. Darker colour imitates hover state of other existing buttons */
.btn-secondary:hover,
.btn-secondary:focus{
    background-color: #c78904;
}

/* Adding more noticeable hover state for light links */
.link-light:hover,
.link-light:focus{
    color: #EDCF8E;
}

/****** Navigation ******/

/* Changing colour of nav items to reflect current theme */
.navbar-custom a,
.navbar-toggler{
    color: #2F6AEB;
}

/* Using secondary theme colour for nav item hover states */
.navbar-custom a:hover,
.navbar-custom a:focus,
.navbar-toggler:hover,
.navbar-toggler:focus{
    color: #DB9909;
}

/* Removing unnecessary border from all buttons, including navbar toggler */
.btn,
.navbar-toggler{
    border: none;
}

/* Resizing logo. Using em instead of % to avoid extra space generated to the right of the logo */
.custom-logo{
    max-width: 3.5em;
}

/****** Home Page ******/

/* Adding height to banner area to better display background image. Using vh to make it screen dependent */
.home-banner{
    height: 60vh;
    background: #2F6AEB url(../images/cloud-banner.jpg) no-repeat center center;
    background-size: cover;
}

/* Using max-height to reduce height of image, and by consequence the height of its card */
.portrait{
    max-height: 60vh;
    object-fit: cover;
    object-position: center 40%;
}

/* Giving the same height to service cards via the height of their images */
.ux-preview,
.digital-graphics-preview{
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

/****** Portfolio Page ******/

/* Giving more height to similar banners on portfolio and contact pages */
.banner{
    height: 50vh;
}

/* Adding a hover state to the thumbnail images to show they are clickable */
img[data-bs-toggle]:hover,
img[data-bs-toggle]:focus{
    opacity: 0.5;
}


/****** Contact Page ******/

/* Adding theme colour to input areas so they stand out better */
#contact-form input,
#contact-form textarea{
    border: 2px solid #2F6AEB;
}

/****** Confirmation Page ******/

/* Applying overlay to a background image to make the text readable */
.confirmation-banner{
    height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #2F6AEB url(../images/cloud-banner.jpg) no-repeat center center;
    background-size: cover;
}