.container{
    max-width: 1200px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #052D82;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nobile', sans-serif;
    font-weight: bold;
}

.custom-bg-primary,
.btn-primary{
    background-color: #2F6AEB;
}

.custom-bg-secondary,
.btn-secondary{
    background-color: #DB9909;
}

.btn-primary,
.btn-secondary{
    font-weight: 600;
}

.custom-text-secondary,
.link-secondary{
    color: #DB9909;
}

.link-secondary:hover,
.link-secondary:focus{
    color: #c78904;
}

.btn-secondary:hover,
.btn-secondary:focus{
    background-color: #c78904;
}

.navbar-custom a,
.navbar-toggler{
    color: #2F6AEB;
}

.navbar-custom a:hover,
.navbar-custom a:focus,
.navbar-toggler:hover,
.navbar-toggler:focus{
    color: #DB9909;
}

.btn,
.navbar-toggler{
    border: none;
}
 .custom-logo{
     max-width: 3.5em;
 }

 .link-light:hover,
 .link-light:focus{
     color: #EDCF8E;
 }

 img[data-bs-toggle]:hover,
 img[data-bs-toggle]:focus{
    opacity: 0.5;
 }

 /* Mobile first */
 .home-banner{
     height: 60vh;
     background: #2F6AEB url(../images/cloud-banner.jpg) no-repeat center center;
     background-size: cover;
 }

 .banner{
     height: 50vh;
 }

 /* Something I learned - overlays */
 .confirmation-banner{
    height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #2F6AEB url(../images/cloud-banner.jpg) no-repeat center center;
    background-size: cover;
 }

 .portrait{
     max-height: 60vh;
     object-fit: cover;
     object-position: center 40%;
 }

 .ux-preview,
 .digital-graphics-preview{
     height: 40vh;
     object-fit: cover;
     object-position: center;
 }

 #contact-form input,
 #contact-form textarea{
     border: 2px solid #2F6AEB;
 }