/*  ********************************** 
            CSS RESET
*********************************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  ********************************** 
            Mobile First
*********************************** */

/* ***** Default Styles ***** */

/* Setting overall font style, default sizing for body text */
/* Applying box-sizing for accurate calculation of element sizes */
html{
font-family: 'Montserrat', sans-serif;
color: #333131;
font-size: 16px;
line-height: 1.2;

box-sizing: border-box;
}

/* Box-sizing code */
/* Referenced from MTM6130 IMDAC */
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* Sizing all headings according to default font-size. All are bolded */
h1{
    font-size: 3.75rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.125rem;
}
h1, h2, h3{
    font-weight: bold;
    margin-bottom: 0.2em;
}

/* ***** Header ***** */

/* Sizing down logo image and putting more space b/w header and main content */
/* Side margins of 2rem will be consistent for all content */
.logo-img{
    width: 7rem;
    margin: 1rem 2rem;
}

/* ***** Main Content ***** */

/* Adding consistent side margins around main content */
.main-container{
    margin: 0 2rem;
}

/* Adding background image so it is centered and not cropped */
body{
    background:  #F7F7FF url(images/bg-image/scooter.svg) no-repeat center 40%;
    background-size: 80%;
}

/* Adding considerable margin below main text so image is not hidden by content */
.main-text{
    margin-bottom: 100%;
}

/* Increasing size of proposition statement to complement heading */
.main-text p{
    font-size: 1.5rem;
}

/* ***** Application Form ***** */

/* Applying flexbox to form to create vertical layout */
/* Adding minimum height in order to justify content */
/* Giving the form a rounded rectangular base with a shadow */
.app-form{
    display: flex;
    flex-direction: column;
    min-height: 520px;
    justify-content: space-between;

    background-color: #ffffff;
    border-radius: 26px;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, 40%);
    padding: 1.5rem;
    margin-bottom: 3rem;
}

/* Hiding longer paragraph that will be used for desktop */
/* Hiding redundant input labels  */
.long-para,
.app-form > label{
    display: none;
}

/* Making input areas into rounded rectangles with consistent font */
.app-form > input{
    font-family: 'Montserrat', sans-serif;
    color: #9B9B9B;

    background-color: #F4F4F5;
    border: none;
    border-radius: 11px;

    padding: 0.75rem;
}

/* Making button into rounded rectangle with consistent font */
.app-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #57EEAB;
    border: none;
    border-radius: 11px;

    padding: 1rem;
}

/* Adding colour to make link stand out */
.app-link:link,
.app-link:visited{
    color: #FF8480;
    text-decoration: none;
}

/* When the user hovers over/activates the link, it is underlined */
.app-link:hover,
.app-link:active{
    text-decoration: underline;
}

/* ***** Footer ***** */

/* Highlighting the footer with colour */
/* Adding side padding consistent with side margins of above content */
.site-footer{
    background-color: #FFFD8C;
    padding: 1rem 2rem;
}

/* Applying a grid to lay out input areas and button*/
.footer-input{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
    
    margin: 0.5rem 0;
}

/* Making input areas into rounded rectangles with consistent font */
#hours, #city{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #707070;

    background-color: #F7F7FF;
    border: none;
    border-radius: 11px;

    padding: 0.3rem 0.5rem;
}

/* Hiding redundant input labels */
.footer-input label{
    display: none;
}

/* Button spans the width of the grid container */
/* Making it into a rounded rectangle with consistent font */
.footer-input button{
    grid-column: 1/span 3;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #F7F7FF;

    background-color: #FF8480;
    border: none;
    border-radius: 11px;
    
    padding: 0.3rem;
}

/* Using flex to evenly distribute social media icons */
.footer-icons{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 1rem;
}

/*  ********************************** 
            Tablet Size
*********************************** */

/* Styling for screens between 700px and 1000px */
@media screen and (min-width: 700px){

    
}