/*  ********************************** 
            CSS RESET
*********************************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  ********************************** 
            Mobile First 
*********************************** */

/* ***** Default Styles ***** */

/* Applying box-sizing to all elements so that width and height are easier to calculate */
/* Setting default font style for mobile */
html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Box-sizing code */
/* (Referenced from MTM6130 IMDAC) */
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* Changing background colour of main */
body #main{
    background-color: #EDD9BF;
}

/* ***** Navigation ***** */

/* Making the navigation take up the width of the screen */
/* Using Flexbox to create stacked navigation */
body #nav{
    width: 100%;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

/* Changing style of navigation links */
/* Adding a border to separate them */
#nav .nav-link{
    font-size: 1.44rem;
    text-transform: uppercase;
    background-color: #05204a;
    padding: 1.5em;
    border-bottom: 3px solid burlywood;
    margin: 0;
}

/* Styling mouse-related states of navigation links */
#nav .nav-link:link,
#nav .nav-link:visited{
    color: cadetblue;
}
/* When interacted with, text and background colours of links are inverted */
#nav .nav-link:hover,
#nav .nav-link:active{
    color: #05204A;
    background-color: cadetblue;
}

/* ***** Home Section ***** */

/* Changing font, colour, and padding of Home Section */
main #home{
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: burlywood;
    background-color: #A33B20;
    padding: 3rem 2rem;
}

/* Changing text style of the page title */
/* Displaying as inline-block to shorten border/separator */
.home .page-title{
    font-size: 2.488rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid cadetblue;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

/* ***** About Section ***** */

/* Changing font, colour, and padding of About Section */
main #about{
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: #05204A;
    background-color: cadetblue;
    padding: 3rem 2rem;
}

/* Changing text style of About Section title */
.about .section-title{
    font-size: 2.074rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* Adding background colour and drop shadow to image */
/* Removing float on image and centering it */
.about .about-image{
    background-color:  #A33B20;
    box-shadow: 2px 2px 3px #05204A;
    float: none;
    display: block;
    max-width: 100%;
    margin: 0 auto 1.5rem;
}

/* Adding spacing to paragraphs */
.about p{
    padding-bottom: 1rem;
}

/* ***** Contact Section ***** */

/* Changing font, colour, and padding of Contact Section */
main #contact{
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: #A33B20;
    background-color: burlywood;
    padding: 3rem 2rem;
}

/* Changing text style of Contact Section title  */
.contact .section-title{
    font-size: 2.074rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* Changing colour and padding of contact form */
/* Fitting contact form to width of the page */
.contact .contact-form{
    background-color: #A33B20;
    width: 100%;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

/* Styling contact form labels */
.contact-form-label{
    font-size: 1rem;
    font-weight: bold;
    color: burlywood;
}

/* Adjusting padding and margin of input areas */
.contact-form-section .contact-form-input{
    padding: 0.5em;
    margin: 0.5em 0;
}

/* Styling button to make it stand out */
button{
    font-size: 1rem;
    font-weight: bold;
    color: #A33B20;
    background-color: burlywood;
    padding: 1rem;
    margin-top: 1rem;
}

/* When button is interacted with, drop shadow appears */
button:hover,
button:active{
    box-shadow: 2px 2px 3px #05204A;
}

/* ***** Footer ***** */

/* Changing colours and adding consistent padding */
footer{
    line-height: 1.5em;
    color: cadetblue;
    background-color: #05204A;
    padding: 1.5rem 2rem;
}

/*  ********************************** 
            Larger Screens 
*********************************** */

/* Applying styles to screens wider than 750px */
@media screen and (min-width: 750px){

    /* Increasing default font size */
    /* Adding background colour that complements centered content */
    html{
        font-size: 18px;
        background-color: #EDD9BF;
    }

    /* ***** Navigation ***** */

    /* Changing to horizontal navigation layout */
    body #nav{
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1200px;
    }

    /* Changing to vertical separators */
    #nav .nav-link{
        width: 100%;
        border-left: 3px solid burlywood;
    }

    /* Removing separator generated at the beginning of navigation */
    #nav .nav-link:first-child{
        border-left: none;
    }

    /* ***** Home Section ***** */

    /* Increasing padding so section takes up more space */
    main #home{
        padding: 6rem 4rem;
    }

    /* ***** About Section ***** */   

    /* Increasing padding so section takes up more space */
    main #about{
        padding: 4rem 3rem;
    }

    /* Placing content in a 3-row, 2-column grid */
    /* Title above, image on the left, paragraphs on the right */
    main #about{
        display: grid;
        grid-template-columns:  max-content 1fr;
        grid-template-rows: 15% max-content 1fr;
        grid-template-areas: "title title"
                             "image para-1"
                             "image para-2";
        grid-gap: 1rem 2.5rem;
        justify-content: center;
    }

    /* Assigning grid areas for title, image, 1st and 2nd paragraph */
    .about .section-title{
        grid-area: title;
    }
    .about .about-image{
        grid-area: image;
        align-self: start;
    }
    .about p:first-child{
        grid-area: para-1; 
    }
    .about p:last-child{
        grid-area: para-2; 
    }

    /* ***** Contact Section ***** */
      
    /* Increasing padding so section takes up more space */
    main #contact{
        padding: 4rem 3rem;
    }

    /* ***** Footer ***** */

    /* Limiting width to match sections above and centering */
    footer{
        max-width: 1200px;
        margin: 0 auto;
    }
}