/* *********************************
            Default Styles 
********************************* */

/* Creating CSS variables for easier access to site color palette */
:root{
    --primary-color: #26A682;
    --secondary-color: #3C3B3A;
    --accent-color: #F2F2F2;
}

/* Setting default font size according to mobile screen size */
/* Applying box-sizing to calculate element sizing more intuitively */
html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
    box-sizing: border-box;
}

/* Box-sizing code - Referenced from MTM6130 IMDAC */
*,
*::before,
*::after{
    box-sizing: inherit;
}

/* Creating space around content and centering it */
.wrapper{
    width: 85%;
    margin: auto;
}

/* Adding space between every content section */
section{
    padding-bottom: 1rem;
}

/* Adjusting typographic scale of headings to match mock-up */
h1{
    font-size: 2.5rem;
    margin-top: 1em;
}
h2{
    font-size: 2rem;
}
/* Decreasing margin of h3 and h4 because they're often grouped close together as heading and subheading */
/* h3 is most often italic */
h3{
    font-size: 1.6rem;
    font-style: italic;
    margin: 1rem 0;
    padding-top: 1rem;
}
/* h4 is always green and regular weight */
h4{
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--primary-color);
    margin: 0.5rem 0;
}

/* Decreasing top margins of paragraphs, as they often flow directly from h4 */
p{
    line-height: 1.6rem;
    margin-top: 0.5rem;
}

/* Making sure all images are responsive across different screen sizes */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* *********************************
            Mobile Styles 
********************************* */

/* Header Area */

/* Decreasing logo size to fit mobile screens and centering it */
.logo{
    width: 5rem;
    margin: 0 auto;
}

/* Using flex to create vertical navigation */
.navbar,
.navbar nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
}

header{
    background-color: var(--secondary-color);
}

/* When the navigation links are visited, their style should match the regular, univisited state */
nav a:link,
nav a:visited{
    font-size: 1.15rem;
    text-decoration: none;
    color: var(--accent-color);
    padding: 0.8rem;
}

/* When interacted with, the nav links are highlighted by turning green */
nav a:hover,
nav a:active{
    color: var(--primary-color);
}

/* Whenever a page is visited, its corresponding navigation link is emphasized to let the user know where they are */
.current-page{
    font-weight: bold;
}

/* Footer Area */

/* Using flex to horizontally space/position the social icons and back-to-top button */
footer{
    display: flex;
    align-items: flex-end;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding: 2rem 1.5rem;
}

/* Using flex again with the social icons to space them out horizontally */
.follow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 50%;
    margin: auto;
}

/* Setting flex-basis on the paragraph so that the icons wrap beneath */
.follow p{
    flex-basis: 100%;
    font-size: 1rem;
    text-align: center;
}

/* Decreasing the size of back-to-top icon so that it's less dominant */
.to-top img{
    width: 40%;
    margin: auto;
}

.to-top p{
    font-size: 0.6rem;
}

/* Animation: the button scales up slighlty when hovered over/activated */
.to-top{
    transition: transform 0.8s;
}

.to-top:hover,
.to-top:active{
    transform: scale(1.2);
}

/* ******** HOME PAGE ******** */

/* Section - Discover you ARC  */

/* Increasing size of activity font icons to make them stand out more */
.fas{
    font-size: 2rem;
}

/* Using grid to create a 2-column layout for activity icons. The default auto-flow creates a second row */
.activities{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
}

/* Center-aligning both text and icons for activities */
.activities div{
    text-align: center;
}

    /* Animation: Icons bob up and down to draw attention to activities */
    @keyframes bob{
        50%{
            transform: translateY(-10px);
        }
    }

    .fas{
        animation-name: bob;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

/* Centering image and decreasing large size */
.discover img{
    max-width: 75%;
    margin: auto;
} 

/* Styling button links as block elements to adjust size and to position */
/* Large call-to-action button */
.large-btn:link,
.large-btn:visited{
    display: block;
    max-width: 10em;
    margin: 1rem auto 2rem auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(18, 74, 58, 50%);
    transition: transform 0.8s, background-color 0.8s;
}

/* Small call-to-action button */
.small-btn:link,
.small-btn:visited{
    display: block;
    max-width: 8em;
    margin: 2rem 0 1rem auto;
    padding: 0.5rem;
    font-size: 1.15rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(18, 74, 58, 50%);
    transition: transform 0.8s;
}

/* Animation: All buttons grow slightly in size when hovered over/activated */
.large-btn:hover,
.large-btn:active,
.small-btn:hover,
.small-btn:active{
    transform: scale(1.2);
}

/* Section - SA President */

/* Inverting text and background colour to create a coloured section block */
.president{
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding-top: 2rem;
}

/* Vertically aligning president's image with her title */
.president .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Increasing border radius to give the image a circular appearance */
.president img{
    border-radius: 50%;
    border: 5px solid var(--accent-color);
    max-width: 75%;
}

.president h3{
    font-style: normal;
    text-align: center;
    padding: 0;
}

/* ******** ABOUT PAGE ******** */

/* Adding a background image with color overlay to the About heading, to indicate the start of the section */
.about-heading{
    background: var(--secondary-color) url(../images/about.jpg) no-repeat center center;
    background-size: cover;
}

/* Giving padding to the heading to give height to the container and show more of the background image */
/* The Services heading is styled in the same way */
.about-heading h2,
.services-heading h2{
    text-align: center;
    color: var(--accent-color);
    background-color: rgba(0, 90, 65, 0.5);
    padding: 2em 0;
    margin: 0;
}

/* Certain sections of the page have a light-grey background */
.about,
.bowling,
.climbing{
    background-color: var(--accent-color);
}

/* Section - Services */

/* Adding a background image with color overlay to the Services heading, to indicate the start of the section */
.services-heading{
    background: var(--secondary-color) url(../images/services.jpg) no-repeat center center;
    background-size: cover;
}

/* The h3's in this section are not italicized like elsewhere */
.services h3{
    font-style: normal;
}

/* On mobile, all the images in this section are hidden */
.hide{
    display: none;
}

/* Differentiating aside with darker background color */
.newsletter{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding: 1rem 0 1.5rem 0;
}

/* Using higher specificity to center this particular small button */
.newsletter .small-btn{
    margin: auto;
}

/* Section - Sponsors */

.sponsor{
    text-align: center;
}

/* Centering logos and setting max-height so they are all proportional in size */
.sponsor-logos img{
    margin: auto;
    padding: 1rem 0;
    max-height: 8rem;
}

/* ******** CONTACT PAGE ******** */

/* Section - Contact Us */

.feedback-form{
    color: var(--accent-color);
    background-color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 5px 10px 7px rgba(18, 74, 58, 20%);
    padding: 1rem;
    margin: 2rem 0 1rem 0;
}

/* Putting each input area on a separate line from its label, and making them take up the full width of the form */
.feedback-form input,
.feedback-form textarea{
    display: block;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 0.5rem;
    margin: 0.5rem 0 1rem 0;
}

/* The message box has a different border radius than the other input areas */
.feedback-form textarea{
    border-radius: 10px;
}

/* Decreasing large default margin on header */
.feedback-form h2{
    margin: 0.8rem 0;
}

/* The contact button was styled above according to the "large-btn" class. Overwriting the colour to change it from green to black.  */
.contact-btn:link,
.contact-btn:visited{
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}

/* Section - Our Location */

/* Removing italic and bold styles defined in the default styles, and decreasing large default margin/padding */
.location h3{
    font-weight: 400;
    font-style: normal;
    padding: 0 0 1rem 0;
    margin: 0;
}

/* Setting max-width on map to eliminate horizontal scrollbar */
iframe{
    display: block;
    width: 100%;
    margin: 2rem auto 0 auto;
}

/* Removing padding of this particular section so map is flush to the header */
.location{
    padding-bottom: 0;
}

/* *********************************
            Tablet Styles
********************************* */

@media screen and (min-width: 650px){
    html{
        font-size: 17px;
    }

    /* Increasing importance of h1 to match mockup, as length of word "construction" no longer causes scrollbar at a larger screen width */
    h1{
        font-size: 3rem;
    }

    /* Header Area */

    /* Uncentering logo */
    .logo{
        margin: 0;
    }

    /* Changing flex direction to create horizontal navigation */
    .navbar,
    .navbar nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* ******** HOME PAGE ******** */

    /* For activity icons, changing default auto-flow to column to create single-row layout */
    .activities{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    
    /* Adding fixed height to images in Algonquin College and Entertainment sections to crop them */
    .college img,
    .entertainment img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    /* Using flex to place SA President's image next to the paragraph */
    .president > div{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Ratio of profile to info is 2:3 */
    .president .profile{
        flex-basis: 40%;
    }

    .president .info{
        flex-basis: 60%;
    } 

    /* Decreasing image size to reduce height of section */
    .president img{
        max-width: 50%;
    }

    /* ******** ABOUT PAGE ******** */

    /* Displaying images that were hidden on mobile */
    .hide{
        display: block;
    }

    /* Using grid in Services section to place images next to respective info blocks */
    .restaurant,
    .fitness{
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: flex-start;
        column-gap: 1rem;
        padding: 3rem 0;
    }

    .bowling > div,
    .climbing > div{
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: flex-start;
        column-gap: 1rem;
        padding: 3rem 0;
    }

    /* Removing extra margin and padding from headings to better align them to the top of their accompanying photo */
    .services h3{
        margin: 0;
        padding: 0;
    }

    /* Adding fixed height to images in Service section to crop them and make them consistent */
    .services img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
    /* Using flex to put button next to newsletter call-for-action */
    .newsletter > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletter .small-btn,
    .newsletter p{
        margin: 0 1rem;
    }

    /* ******** CONTACT PAGE ******** */
    
    /* Aligning contact form button to the left and decreasing the size to make it less prominent */
    .contact-btn:link,
    .contact-btn:visited{
        margin: 0 0 0 auto;
        max-width: 8em;
    }
}

/* *********************************
         Desktop Styles
********************************* */

@media screen and (min-width: 900px){

    html{
        font-size: 18px;
    }

    /* ******** HOME PAGE ******** */
    
    /* Using flex to place image to the right of HOME PAGE banner; at the same time, applying same styles to ABOUT PAGE banner */
    .discover,
    .construction{
        display: flex;
        align-items: center;
    }

    /* Uncentering and decreasing image size so they're more proportionate to text */
    .discover img,
    .construction img{
        max-width: 60%;
        padding: 2rem;
        margin: 0;
    }

    /* Using grid to create 2-columns for Discover Algonquin College; the div is given margins consistent with the wrapper, now that the image is inside */
    .college > div{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        padding: 2rem 0;
    }

    /* Removing margin from top so text ligns up with top of image */
    .college .info{
        margin-top: 0;
    }

    .college{
        background-color: var(--accent-color);
    }

    /* The Entertainment section gets the same treatment, but the image must be placed on the right instead */
    .entertainment > div{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        padding: 2rem 0;
        grid-template-areas: "info image";
    }

    .entertainment img{
        grid-area: image;
    }

    .entertainment .info{
        grid-area: info;
        margin: 0;
    }

    /* Removing margin from headings to improve alignment of text to top of images */
    .college h3,
    .entertainment h3{
        margin: 0;
        padding: 0;
    }

    /* Moving president's title next to her image with flex */
    .president .profile{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem 1rem 0;
    }

    /* Aligning paragraph with profile so they're on the same line */
    .president > div{
        align-items: center;
    }

    /* ******** ABOUT PAGE ******** */

    /* For About Section, using grid to create 3 equal columns, 1 for each paragraph  */
    .about div.wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
        padding: 2rem 0;
    }

    /* For Service Section, changing ratio of image to text to 1:1 */
    .restaurant,
    .bowling > div,
    .fitness,
    .climbing > div{
        grid-template-columns: 1fr 1fr;
    }

    /* Using flex so sponsor logos are placed along the width of the screen */
    .sponsor-logos{
        display: flex;
        justify-content: space-between;
    }

    .sponsor-logos img{
        margin: 3rem 0;
        max-height: 7rem;
    }

    /* ******** CONTACT PAGE ******** */
    
    /* Using grid to have contact form to the right of the feedback blurb */
    .feedback{
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 2rem;
    }

    /* Creating 2 equal columns in a grid to have map beside the hours of operation; applying same margin as wrapper to div now that map doesn't need to fit the screen width */
    .location > div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        margin: auto;
        width: 85%;
    }
    
    /* Removing margin from text area so it lines up better with the top of the map */
    .location .info{
        margin: 0;
    }

    .location{
        margin: 3rem 0;
    }
}