/*  ********************************** 
            CSS RESET
*********************************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  ********************************** 
            Mobile First
*********************************** */

/* ***** Default Styles ***** */

/* Setting overall font style, default sizing for body text */
/* Applying box-sizing for accurate calculation of element sizes */
html{
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    font-size: 16px;
    line-height: 1.2;

    box-sizing: border-box;
}

/* Box-sizing code */
/* Referenced from MTM6130 IMDAC */
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* Sizing all headings according to default font-size. All are bolded */
h1{
    font-size: 3.75rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.125rem;
}
h1, h2, h3{
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* ***** Header ***** */

/* Sizing down logo image and putting more space b/w header and main content */
/* Side margins of 2rem will be consistent for all content */
.logo-img{
    width: 7rem;
    margin: 2rem;
}

/* ***** Main Content ***** */

/* Adding consistent side margins around main content */
.main-container{
    margin: 0 2rem;
}

/* Adding background image so it is centered and not cropped */
body{
    background:  #F7F7FF url(../images/bg-image/scooter.svg) no-repeat center 38%;
    background-size: 80%;
}

/* Constraining width of main text to match mockup */
/* Adding considerable margin below main text so image is not hidden by content */
.main-text{
    max-width: 500px;
    margin-bottom: 100%;
}

/* Increasing size of proposition statement to complement heading */
.main-text p{
    font-size: 1.5rem;
}

/* ***** Application Form ***** */

/* Applying flexbox to form to create vertical layout */
/* Adding minimum height in order to justify content */
/* Giving the form a rounded rectangular base with a shadow */
.app-form{
    display: flex;
    flex-direction: column;
    min-height: 550px;
    justify-content: space-between;

    background-color: #ffffff;
    border-radius: 26px;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, 40%);
    padding: 2rem;
    margin-bottom: 3rem;
}

/* Hiding longer paragraph that will be used for desktop */
/* Hiding redundant input labels  */
.long-para,
.app-form > label{
    display: none;
}

/* Making input areas into rounded rectangles with consistent font */
.app-form > input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #9B9B9B;

    background-color: #F4F4F5;
    border: none;
    border-radius: 11px;

    padding: 0.75rem;
}

/* Making button into rounded rectangle with consistent font */
.app-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #57EEAB;
    border: none;
    border-radius: 11px;

    padding: 1rem;
    margin-bottom: 0.3rem;
}

/* Adding colour to make link stand out */
.app-link:link,
.app-link:visited{
    color: #FF8480;
    text-decoration: none;
}

/* When the user hovers over/activates the link, it is underlined */
.app-link:hover,
.app-link:active{
    text-decoration: underline;
}

/* ***** Footer ***** */

/* Highlighting the footer with colour */
/* Adding side padding consistent with side margins of above content */
.site-footer{
    background-color: #FFFD8C;
    padding: 1rem 2rem;
}

/* Applying a 2x2 grid to lay out input areas and button*/
.footer-input{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
    justify-content: center;
    
    margin: 1rem 0;
}

/* Making input areas into rounded rectangles with consistent font */
#hours, #city{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #707070;

    background-color: #F7F7FF;
    border: none;
    border-radius: 11px;

    padding: 0.3rem 0.5rem;
}

/* Hiding redundant input labels */
.footer-input label{
    display: none;
}

/* Button spans 3 columns to fall into/take up second row */
/* Making it into a rounded rectangle with consistent font */
.footer-input button{
    grid-column: span 3;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #F7F7FF;

    background-color: #FF8480;
    border: none;
    border-radius: 11px;
    
    padding: 0.3rem;
}

/* Using flex to evenly distribute social media icons */
.footer-icons{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 1rem;
}

/*  ********************************** 
            Tablet Size
*********************************** */

/* Styling for screens between 700px and 1000px */
@media screen and (min-width: 700px){

    /* ***** Default Styles ***** */

    /* Increasing default font size for a larger screen */
    html{
        font-size: 17px;
    }

    /* ***** Header ***** */

    /* Increasing side margins to 3rem, consistent for all content */
    .logo-img{
        margin: 2rem 3rem;
    }

    /* ***** Main Content ***** */

    /* Making sure side margins are consistent for main content */
    .main-container{
        margin: 0 3rem;
    }

    /* ***** Footer ***** */

    /* Making sure side padding is consistent with margins of content above */
    .site-footer{
        padding: 1rem 3rem;
    }

    /* Adjusting grid in footer to give items horizontal layout */
    .footer-input{
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: 1fr;
    }

    /* Reassigning position of button in grid so it fits properly in same row as input areas*/
    .footer-input button{
        grid-column: span 1;
    }

}

/*  ********************************************** 
            Laptop Size - Smaller
************************************************** */

/* Styling for screens between 1000px and 1650px */
@media screen and (min-width: 1000px){
 
    /* ***** Main Content ***** */

    /* Using flex to lay out elements horizontally, with space between */
    .main-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Decreasing margin below main text to reduce height of main content area */
    .main-text{
        margin-bottom: 30%;
    }
    
    /* Giving more height to form so inner elements are more spaced out */
    /* Applying limit on width so form doesn't cover image */
    .app-form{
        min-height: 600px;
        max-width: 480px;
    }

    /* Hiding shorter paragraph that was used for smaller screens and showing longer paragraph*/
    .short-para{
        display: none;
    }
    .long-para{
        display: inline;
    }

    /* Pushing background image to the left and reducing its size to fit page */
    body{
        background:  #F7F7FF url(../images/bg-image/scooter.svg) no-repeat 25% 60%;
        background-size: 50%;
    }

    /* ***** Footer ***** */

    /* Using flex to lay out footer items horizontally and add space between */
    .site-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Setting width value for social icons group so they can be spaced between */
    .footer-icons{
        justify-content: space-between;

        min-width: 200px;
        height: fit-content;
    }

    /* Changing order of icons to match mockup */
    .facebook{
        order: 1;
    }
    .linkedin{
        order: 2;
    }
    
}

/*  ********************************************** 
            Laptop Size - Larger
************************************************** */

/* Styling for screens 1650px and wider */
@media screen and (min-width: 1650px){

    /* ***** Default Styles ***** */

    /* Increasing default font size and line height for a larger screen */
    html{
        font-size: 18px;
        line-height: 1.4;
    }

    /* ***** Header ***** */

    /* Increasing side margins to 5rem, consistent for all content */
    .logo-img{
        margin: 2rem 5rem;
    }

    /* ***** Main Content ***** */

    /* Making sure side margins are consistent for main content */
    .main-container{
        margin: 0 5rem;
    }

    /* Increasing limit on width (applied so form doesn't cover image) */
    .app-form{
        max-width: 530px;
    }

    /* Centering background image */
    body{
        background:  #F7F7FF url(../images/bg-image/scooter.svg) no-repeat center;
        background-size: 50%;
    }

    /* ***** Footer ***** */

    /* Making sure side padding is consistent with margins of content above */
    .site-footer{
        padding: 1rem 5rem;
    }

    /* Increasing width value (applied so items can be spaced between) */
    .footer-icons{
        min-width: 300px;
    }

}